# SPDX-FileCopyrightText: Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

/my_install*
/ironenv*
.vscode
__pycache__
.DS_Store
*.bin
build/*
**/_build/**
**/build/**
*.exe
*.csv
!iron/applications/transformer_layer/study/**/*removed*.csv
*.log
*.safetensors
*.model
.cline_storage
*.egg-info
iron/applications/transformer_layer/results_unattended_*/
iron/applications/transformer_layer/results/
